# Env
.env

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache
.apt_generated

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS / misc
.DS_Store
HELP.md
